@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

 
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: Yellow;
  background-color: transparent;
  text-decoration: underline;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/Anpar.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 10vh;
    background:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}
.logo .fas{
    font-size: 50px;
}
ul.navbar{
    display: flex;
    list-style: none;
}
ul.navbar li{
    width: 200px;
}
ul.navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
ul.navbar li a.active{
    color: #FEC53A;
}
ul.navbar li a:hover:not(.active){
    color: #FEC53A;
}
#btn{
    width: 250px;
    height: 10vh;
    background: #FEC53A;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}

#btn .fas{
    margin-right: 10px;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 83vh;
  width: 100%;
  padding: 90px 0;
  background: #ddd, url(../Images/Anpar.jpg);
}
.pic{
  height: auto;
  width:  302px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fbff05;
}
span{
  color: #21cfea;
}
.text p{
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #fff;
}
.data{
  margin-top: 30px;
}
.hire{
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover{
  background: #000;
  border: 1px solid #4070f4;
}

.footer-bottom{
  width: 100%;
  height: 7vh;
  background: #1B1919;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom span{
  color: #FEC53A;
  font-weight: bold;
}
