@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: Yellow;
  background-color: transparent;
  text-decoration: underline;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/playstation-6.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 10vh;
    background:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}
.logo .fas{
    font-size: 50px;
}
ul.navbar{
    display: flex;
    list-style: none;
}
ul.navbar li{
    width: 200px;
}
ul.navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
ul.navbar li a.active{
    color: #FEC53A;
}
ul.navbar li a:hover:not(.active){
    color: #FEC53A;
}
#btn{
    width: 250px;
    height: 10vh;
    background: #FEC53A;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}

#btn .fas{
    margin-right: 10px;
}

/* Section one starts here */

.section-1{
    width: 100%;
    background-position: center;
    background-attachment: fixed;

}

.section-1 h1{
    color: #FEC53A;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}
.section-1 p{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}

.section-1 ul{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}

/* FOoter section */
.footer-bottom{
    width: 100%;
    height: 2vh;
    background: transparent;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
}

.footer-bottom span{
    color: #FEC53A;
    font-weight: bold;
}

