@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #dc143c;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
}

.back-to-top span {
	color: #fff;
	font-size: 3rem;
	transition: 0.2s ease-out;
}

.back-to-top:hover {
	background-color: #be1a3b;
}
.back-to-top:hover span {
	transform: translateY(-4px);
}




html {
  scroll-behavior: smooth;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: Yellow;
  background-color: transparent;
  text-decoration: underline;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: #1a0327;
    font-family: 'Poppins', sans-serif;
    height: 350vh;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/gamy2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header{
    width: 100%;
    height: 10vh;
    background:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    height: 10vh;
    background: #550381;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}
.logo .fas{
    font-size: 50px;
}
ul.navbar{
    display: flex;
    list-style: none;
}
ul.navbar li{
    width: 200px;
}
ul.navbar li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
ul.navbar li a.active{
    color: #FEC53A;
}
ul.navbar li a:hover:not(.active){
    color: #FEC53A;
}
#btn{
    width: 250px;
    height: 10vh;
    background: #FEC53A;
    color: #000;
    outline: none;
    border: none;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;
}

#btn .fas{
    margin-right: 10px;
}



/* Content desc starts here */
.content-wrapper{
    width: 80%;
    min-height: 80vh;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
/* .content-desc{

} */

.content-desc h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.content-desc p{
    width: 750px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.content-desc span{
    color: #FEC53A;
}
#btn2{
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: none;
    background: #FEC53A;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
    border-radius: 20px;
    text-align: left;
}
.rakuto{
    width: 400px;
    height: 400px;
    
    background-size: cover;
    background-position: center;
    position: relative;
}
.rakuto::before{
    content: '';
    width: 160px;
    height: 160px;
    
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 10px;
    left: 200px;
}
.rakuto::after{
    content: '';
    width: 400px;
    height: 400px;
    background: url(../images/rakuto.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    left: -150px;
}
.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.logo-section .fas{
    font-size: 6rem;
    color: #FEC53A;
}
.logo-section h1{
    width: 350px;
    font-size: 2rem;
    color: #FEC53A;
    margin-left: 10px;
}
/* Section one starts here */

.section-1{
    width: 100%;
    height: 1200px;
    background: linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/halo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.section-1-wrapper{
    width: 70%;
    margin: auto;
}
.section-1 h1{
    width: 500px;
    color: #FEC53A;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}
.section-1-img{
    display: flex;
}
.section-1-img .img{
    width: 150px;
    height: 150px;
    background: url(../images/counter-strike-2.webp);
    background-size: cover;
    background-position: center;
    margin: 1px 15px 0 0;
    border-radius: 10px;
}
.section-1-img .img-2{
    background: url(../images/helldivers.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-3{
    background: url(../images/pubg_pc.jpg);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-4{
    background: url(../images/dragon2.avif);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-5{
    background: url(../images/apex.jpeg);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-6{
    background: url(../images/cyberpunk.webp);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-7{
    background: url(../images/exile.webp);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-8{
    background: url(../images/warframe.jpg);
    background-size: cover;
    background-position: center;
}

/* yaha pe section action hai */
.section-2{
    width: 100%;
    height: 1200px;
    background: linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/halo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.section-2-wrapper{
    width: 70%;
    margin: auto;
}
.section-2 h1{
    width: 500px;
    color: #FEC53A;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}
.section-2-img{
    display: flex;
}
.section-2-img .img{
    width: 150px;
    height: 150px;
    background: url(../images/horizon5.jpeg);
    background-size: cover;
    background-position: center;
    margin: 1px 15px 0 0;
    border-radius: 10px;
}
.section-2-img .img-2{
    background: url(../images/beam.jpeg);
    background-size: cover;
    background-position: center;
}
.section-2-img  .img-3{
    background: url(../images/assetto.jpg);
    background-size: cover;
    background-position: center;
}
.section-2-img  .img-4{
    background: url(../images/iracing.jpg);
    background-size: cover;
    background-position: center;
}
.section-2-img  .img-5{
    background: url(../images/snowrunner.png);
    background-size: cover;
    background-position: center;
}
.section-2-img  .img-6{
    background: url(../images/mxvslegends.jpg);
    background-size: cover;
    background-position: center;
}
.section-2-img  .img-7{
    background: url(../images/ride4.jpg);
    background-size: cover;
    background-position: center;
}
.section-2-img  .img-8{
    background: url(../images/F123.jpeg);
    background-size: cover;
    background-position: center;
}

/* section 3 yaha chalu hota hai */
.section-3{
    width: 100%;
    height: 1200px;
    background: linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/halo.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.section-3-wrapper{
    width: 70%;
    margin: auto;
}
.section-3 h1{
    width: 500px;
    color: #FEC53A;
    font-size: 1.5rem;
    position: relative;
    font-weight: 400;
}
.section-3-img{
    display: flex;
}
.section-3-img .img{
    width: 150px;
    height: 150px;
    background: url(../images/assassin_odyssey.jpg);
    background-size: cover;
    background-position: center;
    margin: 1px 15px 0 0;
    border-radius: 10px;
}
.section-3-img .img-2{
    background: url(../images/fallout76.jpeg);
    background-size: cover;
    background-position: center;
}
.section-3-img  .img-3{
    background: url(../images/crusader_king.webp);
    background-size: cover;
    background-position: center;
}
.section-3-img  .img-4{
    background: url(../images/elder_scrolls.jpg);
    background-size: cover;
    background-position: center;
}
.section-3-img  .img-5{
    background: url(../images/starwars.jpg);
    background-size: cover;
    background-position: center;
}
.section-3-img  .img-6{
    background: url(../images/guildwars.jpg);
    background-size: cover;
    background-position: center;
}
.section-3-img  .img-7{
    background: url(../images/myth_of_empires.jpg);
    background-size: cover;
    background-position: center;
}
.section-3-img  .img-8{
    background: url(../images/hogwarts.webp);
    background-size: cover;
    background-position: center;
}


.img:hover{
    transform: translateY(-10px);
}

/* Section 3 starts here */
.game-categories{
    width: 70%;
    margin: 50px auto;
    position: relative;
}
.game-categories h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #FEC53A;
}
.game-wrapper{
    display: flex;
}
.gw{
    width: 180px;
    height: 180px;
    background: url(../images/fifa23.jpeg);
    background-size: cover;
    background-position: center;
    margin: 20px 15px 0 0;
    border-radius: 10px;
}
.gw:hover{
    transform: translateY(-10px);
}
.left{
    position: relative;
    right: -140px;
}

.gw-1{
    background: url(../images/OIP.jpeg);
    background-size: cover;
    background-position: center;
}
.gw-2{
    background: url(../images/valo.jpg);
    background-size: cover;
    background-position: center;
}
.gw-3{
    background: url(../images/valhala.jpg);
    background-size: cover;
    background-position: center;
}
.gw-4{
    background: url(../images/rdr2.jpg);
    background-size: cover;
    background-position: center;
}
.gw-5{
    background: url(../images/fallguys.jpg);
    background-size: cover;
    background-position: center;
}
.gw-6{
    background: url(../images/amongus.jpg);
    background-size: cover;
    background-position: center;
}
.gw-7{
    background: url(../images/guardians.webp);
    background-size: cover;
    background-position: center;
}
.gw-8{
    background: url(../images/farcry.jpg);
    background-size: cover;
    background-position: center;
}
.gw-9{
    background: url(../images/minecraft.webp);
    background-size: cover;
    background-position: center;
}
.section-2{
    width: 100%;
    height: 50vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/flame.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    align-items: center;
    justify-content: space-around;
}
.section-2 h1{
    font-size: 2rem;
    Align: center;
    color: #fff;
    margin: 20px 0;
}


/* section 3 starts here */

.section-3{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/controller.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section-3 h1{
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.section-3-wrapper{
    display: flex;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
}

.feedback{
    width: 250px;
    height: 300px;
    background: url(../images/feedback.jpg);
    background-position: center;
    background-size: cover;
 
}
.feedback-desc{
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.767);
    padding: 10px;
    color: #fff;
    margin-right: 10px;
}
.feedback-desc .far{
    color: #FEC53A;
    font-size: 30px;
}
.f-img-2{
    background: url(../images/image9.jpg);
    background-position: center;
    background-size: cover;
}

.f-img-3{
    background: url(../images/image10.jpg);
    background-position: center;
    background-size: cover;
}
/* FOoter section */
footer{
    width: 100%;
    height: 55vh;
    background: #282828;
    display: flex;
    align-items: center;
    
}
.footer-body{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-logo{
    height: 12vh;
    background-color: #FEC53A;
    color: #000;
    line-height: 1.7rem;
}
ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #FEC53A;
    margin-right: 15px;
}
ul li a:hover{
    color: #FEC53A;
}
.footer-bottom{
    width: 100%;
    height: 7vh;
    background: #1B1919;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-bottom span{
    color: #FEC53A;
    font-weight: bold;
}


.btn {
  background-color:blue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}

.btn:hover {opacity: 0.6}


.discord {
 font-size: 20px;
  color:white;
}

.container1{display:inline-block; color: white;}


.yo{
        color: white;
	font-size:12px;
	font-family: monospace;
	text-align: center;
	overflow:hidden;
	animation:
		typing 2s,
		cursor .4s step-end infinite alternate;
}

@keyframe typing {
	from {width:0}
}
}


.content-desc1{
 display: flex;
 flex-direction: column;
 width: 100vw;
 min-height:100vh;
 justify-content: center;
 align-items: center;
 background-color: #222;
 
 .swipe {
  position: relative;
  width: fit-content;
    &::after {
     display: block;
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 100%;
     width: 0%;
     height: 100%;
     background-color: #FF5858;
     animation: swipe 1.5s ease-out 1s forwards;
    }
    &--delay {
     &::after {
      background-color: #FFF;
      animation-delay: 1.5s;
     }
    }
 }
 
 .hi {
  display: block;
  color: #FFF;
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  padding: 15px 25px;
  opacity: 0;
  animation: fade 0.01s ease-out 1.75s forwards;
 }
 

}

@keyframes fade {
 from { opacity: 0; }
 to { opacity: 1; }
}

@keyframes swipe {
 0% {
  right: 100%;
  left: 0;
  width: 0%;
 }
 50% {
  right: 0;
  left: 0;
  width: 100%;
 }
 100% {
  right: 0;
  left: 100%;
  width: 0%;
 }
}

@media screen and (max-width: 600px)
{
}